@use './variables' as *;

.app-footer {
  background-color: $color-bg-surface-alt;
  color: $color-text-olive;
  text-align: left;
  padding: 1rem 2rem;
  font-size: 1em;
  font-weight: 500;
  border-top: 0.1rem solid $color-border-mid;
}
